<mat-drawer-container class="min-h-full">
  <mat-drawer mode="side" opened>
    <title class="flex justify-content-center align-items-center p-4 w-12rem">
      OH JESUS CRISTO
    </title>
  </mat-drawer>
  <mat-drawer-content class="">
    <header
      class="flex align-items-center justify-content-between border-bottom-1">
      <div class="flex align-items-center line-height-1 p-4">
        <span class="text-primary text-4xl">Intinerario</span>
      </div>
      <div class="flex align-items-center line-height-1 p-4">
        <button
          mat-fab
          extended
          color="primary"
          (click)="createActivityForm.open()">
          <mat-icon>add</mat-icon>
          Nueva actividad
        </button>
      </div>
    </header>

    <div cdkDropListGroup class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="example-container">
          <div class="flex justify-content-start align-items-center p-3">
            <span class="text-xl">
              Sin fecha asignada
              {{ undatedActivities.length > 0 ? undatedActivities.length : '' }}
            </span>
          </div>
          <div
            cdkDropList
            [cdkDropListData]="undatedActivities"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div
              class="example-box"
              *ngFor="let item of undatedActivities"
              cdkDrag>
              <app-activity-card [activity]="item"></app-activity-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="example-container">
          <div class="flex justify-content-start align-items-center p-3">
            <span class="text-xl">
              {{ todayActivitiesDate | date: 'dd MMMM' }}
              {{
                firstActivitiesArray.length > 0
                  ? firstActivitiesArray.length
                  : ''
              }}
            </span>
          </div>
          <div
            cdkDropList
            [cdkDropListData]="firstActivitiesArray"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div
              class="example-box"
              *ngFor="let item of firstActivitiesArray"
              cdkDrag>
              <app-activity-card [activity]="item"></app-activity-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="example-container">
          <div class="flex justify-content-start align-items-center p-3">
            <span class="text-xl">
              {{ tomorrowActivitiesDate | date: 'dd MMMM' }}
              {{
                secondActivitiesArray.length > 0
                  ? secondActivitiesArray.length
                  : ''
              }}
            </span>
          </div>
          <div
            cdkDropList
            [cdkDropListData]="secondActivitiesArray"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div
              class="example-box"
              *ngFor="let item of secondActivitiesArray"
              cdkDrag>
              <app-activity-card [activity]="item"></app-activity-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="example-container">
          <div class="flex justify-content-start align-items-center p-3">
            <span class="text-xl">
              {{ thirdActivitiesDate | date: 'dd MMMM' }}
              {{
                thirdActivitiesArray.length > 0
                  ? thirdActivitiesArray.length
                  : ''
              }}
            </span>
          </div>
          <div
            cdkDropList
            [cdkDropListData]="thirdActivitiesArray"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div
              class="example-box"
              *ngFor="let item of thirdActivitiesArray"
              cdkDrag>
              <app-activity-card [activity]="item"></app-activity-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
  <mat-drawer #createActivityForm mode="over" position="end">
    <header
      class="flex flex-row align-items-center justify-content-start border-bottom-1 w-30rem">
      <div class="flex align-items-center line-height-1 p-4">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          (click)="createActivityForm.close()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
      <div class="p-4">
        <span class="">Agregar nueva actividad</span>
      </div>
    </header>
    <div class="flex justify-content-center align-items-center p-2">
      <form [formGroup]="activityForm" (ngSubmit)="createActivity()">
        <div class="flex flex-row">
          <mat-form-field class="col">
            <mat-label>Nombre de la actividad</mat-label>
            <input
              matInput
              class="form-control"
              formControlName="title"
              required />
            <mat-error *ngIf="isValidField('title')">
              {{ getFieldError('title') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex flex-row">
          <mat-form-field class="col">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
              <mat-option
                *ngFor="let status of ACTIVITY_TYPE"
                [value]="status.value">
                {{ status.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-row">
          <mat-form-field class="col">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="status">
              <mat-option
                *ngFor="let status of ACTIVITY_STATUS"
                [value]="status.value">
                {{ status.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-row">
          <mat-form-field class="col">
            <mat-label>Fecha</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startDate" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex flex-row">
          <mat-form-field class="col">
            <mat-label>Hora de inicio</mat-label>
            <mat-select formControlName="startHour">
              <mat-option *ngFor="let hour of schedules" [value]="hour">
                {{ hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Hora de finalización</mat-label>
            <mat-select formControlName="endHour">
              <mat-option *ngFor="let hour of schedules" [value]="hour">
                {{ hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-row justify-content-end align-items-center">
          <button
            mat-raised-button
            color="primary"
            (click)="createActivityForm.close()">
            Agregar
          </button>
        </div>
      </form>
    </div>
  </mat-drawer>
</mat-drawer-container>
