.card-util-icon {
    height: 24px;
    width: 24px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.actions-btn {
    width: 24px;
    height: 24px;
}

.mat-icon{
    font-size: 18px;
}

.mat-button-toggle {
    margin: 0;
    padding: 0;
}
  